.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    gap: 40px;
  }

  .text {
    padding-bottom: 32px;
  }
}
