.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.description {
  margin-top: 32px;
  font-size: 16px;
  color: var(--color-text-secondary);
}

.introImage {
  display: block;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 32px;
}

.links li {
  border-radius: 4px;
  border: 2px solid var(--color-text);
}
.links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.links li a:hover {
  background-color: #d4d4d8;
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    min-height: 630px;
  }
}
