.content {
  margin-top: 40px;
  color: #d4d4d8;
}

.projectList {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.projectImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}

.projectImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectInfo {
  display: flex;
  gap: 28px;
  flex-direction: column;
  margin-top: 28px;
}

.projectNum {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.48px;
  line-height: 1;
}

.projectTitle {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}

.projectLinkIcon {
  width: 20px;
  height: 20px;
  color: #fff;
  transition: color 0.2s ease;
}
.projectLinkIcon:hover {
  color: #404040;
}

@media (min-width: 1024px) {
  .content {
    margin-top: 80px;
  }

  .projectList {
    gap: 140px;
  }
  .projectImage {
    width: 530px;
  }

  .projectItem {
    display: flex;
    gap: 104px;
    align-items: center;
  }
  .projectItem:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .projectInfo {
    margin-top: 0;
  }
  .projectNum {
    font-size: 48px;
    letter-spacing: -0.96px;
  }

  .projectTitle {
    font-size: 32px;
  }
}
